:host{
    background-color: transparent;
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin: 1%;
}

.backlog{
    grid-area: 1 / 1 / 2 / 2;
}
.progress{
    grid-area: 1 / 2 / 2 / 3;
}
.review{
    grid-area: 1 / 3 / 2 / 4;
}
.resolved{
    grid-area: 1 / 4 / 2 / 5;
}
.done{
    grid-area: 1 / 5 / 2 / 6;
}
h3{
    text-align:center;
    margin: 2%;
}